################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OnlineShop/FileContentIndex/150dc585-abd0-4566-b378-1d78aa5ba1c5.vsidx
/.vs/OnlineShop/FileContentIndex
